<h1>Log In</h1>

<form action="/login-action" method="POST">
    Username:<br>
    <input type="text" name="username"><br>
    Password:<br>
    <input type="text" name="password"><br>
    <br>
    <input type="submit"><br>
</form>