<h1 class="centeredText">Sign Up</h1>

<div id="login-container">
    <div>
        <a href="signup-customer" class="signupButton">Sign Up As Customer</a>
    </div>
    <div>
        <a href="signup-supplier" class="signupButton">Sign Up As Supplier</a>
    </div>
</div>