<h1>Sign Up</h1>

<form action="/signup-customer" method="POST">
    Username:<br>
    <input type="text" name="username"><br>
    First Name:<br>
    <input type="text" name="firstname"><br>
    Last Name:<br>
    <input type="text" name="lastname"><br>
    Password:<br>
    <input type="text" name="password"><br>
    <br>
    <input type="submit"><br>
</form>