<h1 class="centeredText">New Supplier Signup</h1>

<div id="login-container">
    <form action="/signup-supplier" method="POST">
        Company Name:<br>
        <input type="text" name="companyname"><br>
        Password:<br>
        <input type="password" name="password"><br>
        <br>
        <input type="submit"><br>
    </form>
</div>