<main class="prodcut-details-container">
     {{#each productDetails}}
       {{> productDetails this}}
    {{/each}} 
    {{#if username}}
    <form action="" method="POST">
      <input class="add-to-order-button" type="submit" name="Add to your orders" value="Add to your orders" />
    </form>
    {{/if}}
</main>