<main class="prodcut-details-container">
     {{#each productDetails}}
       {{> productDetails this}}
    {{/each}} 
    {{#if username}}
    <button class="add-to-order-button" style="vertical-align: middle;"><span>Add to your orders</span></button>
    {{/if}}
</main>