<header>
   <nav class="navbar">
      <ul class="navlist">
         <li><a href="/">Home</a></li>
         <li><a href="/browse">Browse</a></li>
         {{#if username}}
         <li><a href="/customer">Customer</a></li>
         {{/if}}
         {{#if suppliername}}
         <li><a href="/supplier">Supplier</a></li>
         {{/if}}
         {{#unless username}}
            {{#unless suppliername}}
         <li class="login-link"><a href="/login">Log In</a></li>
         <li class="sign-up-link"><a href="/signup">Sign Up</a></li>
            {{/unless}}
         {{/unless}}
         <li class="search-bar">
            <input type="text" id="search-bar-input" placeholder="Search...">
            <button type="button" id="search-bar-button">
               <i class="fas fa-search"></i>
            </button>
         </li>
         {{#if username}}
            <li><a href="\logout">Log Out</a></li>
         {{/if}}
         {{#if suppliername}}
            <li><a href="\logout">Log Out</a></li>
         {{/if}}
      </ul>
   </nav>
</header>