<h2 class="specific-product-name">{{productName}}</h2>
    <div class="product-details-content">
        <p class="specific-product-description"> Description: 
            {{description}}
        </p>
        <p class="specific-product-supplier"> Supplier: 
            {{supplierName}}
        </p>
        <p class="specific-product-category"> Category:
            {{category}}
        </p>
    </div>