<div class="product" onclick="location.href='specificProduct/{{productID}}'">
    <div class="product-content">
        <p class="product-name">
            {{productName}}
        </p>
        <p class-"product-description"> Description: 
            {{description}}
        </p>
        <p class="product-price"> Price: $
            {{price}}
        </p>
    </div>
</div>
