<article class="product">
    <div class="product-content">
        <p class="product-name">
            {{productName}}
        </p>
        <p class-"supplier-name">
            {{supplierName}}
        </p>
        <p class="productID">
            {{productID}}
        </p>
    </div>
</article>
