html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#topBar {
  width: 100%;
  background-color: #232f3e;
  color: white;
}

.site-title {
  text-decoration: none;
  margin: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  color: white;

  display: inline-block;
}

#userTop {
  height: 54px;

  float: right;
}

#userButton {
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  line-height: 54px;
}

#logoutButton {
  text-decoration: none;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  line-height: 54px;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
}

.navlist li {
  float: left;
}

.navlist li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.navlist li a:hover {
  background-color: #121921;
  color: white;
}

li.search-bar {

  float: right;

}

#search-bar-input {
  background-color: light grey;
}

#search-bar-button {
  margin: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navlist input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.top-products-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #F5F5F5;
  border-radius: 25px;

  width: 100%;
  justify-content: center;
  align-items: center;
}

.all-products-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #F5F5F5;
  border-radius: 25px;

  width: 100%;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  font-weight: bold;  
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 500px;
}

.product:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.specific-product-name {
  margin: auto;
  text-align: center;
  font-size: 50px;
}

.product-details-content {
  margin: auto;
  text-align: center;
  font-size: 30px;
}

.product-content {
  width: 100%;
}

#contentBox {
  width: 90%;
  margin: auto;
  max-width: 1200px;
}

#login-container {
  margin-top: 50px;

  display: flex;
  width: 100%;

  justify-content: space-evenly;
}

.centeredText {
  text-align: center;
}

.signupButton {
  text-decoration: none;
  font-size: 1.3em;
  color: black;

  border: 2px solid black;
  border-radius: 10px;
  padding: 7px;
}

.signupButton:hover {
  background-color: black;
  color: white;
}

.add-to-order-button {
  display: inline-block;
  border-radius: 4px;
  background-color: 	dodgerblue;
  border: none;
  color: white;
  text-align: center;
  font-size: 23px;
  padding: 20px;
  width: 250px;
  transition: all .5s;
  cursor: pointer;
  margin: 5px;
}

.add-to-order-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.add-to-order-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.add-to-order-button:hover span {
  padding-right: 25px;
}

.add-to-order-button:hover span:after {
  opacity: 1;
  right: 0;
}

#order-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #F5F5F5;
  border-radius: 25px;

  width: 100%;
  justify-content: center;
  align-items: center;
}

.order {
  margin: 2px;
  padding: 20px;
  border: 1px solid #dadada;
  border-radius: 10px;
  background-color: #fff;
  font-weight: bold;  
  transition: all .2s ease-in-out;
  width: 100%;
  max-width: 500px;
}

.order:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.orderTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cart-button {
  position: fixed;
  border: none;
  background-color: lightslategray;
  color: white;
  cursor: pointer;
  right: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  font-size: 30px;
}

#cart-button:hover, #cart-button:focus {
  right: 27px;
  bottom: 27px;
  height: 66px;
  width: 66px;
  border-radius: 33px;
  font-size: 36px;
}

#cart-button:focus {
  outline: none;
}