<!DOCTYPE html>
<html>

<a href="\" style="text-decoration: none;">
    <h1 class="site-title"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Retailer</h1>
    {{#if username}}
    {{firstName}} {{lastName}}
    {{/if}}
</a>

{{>header}}

<body>

    <div id="contentBox">
        {{{body}}}
    </div>

</body>

</html>
